# Border Built Backend Environment Variables
CI_ENVIRONMENT=production

# App Settings
app.baseURL='https://border-built.com/'
app.forceGlobalSecureRequests=true

# Database Settings
database.default.hostname=localhost
database.default.database=dataholi_borderbuilt
database.default.username=dataholi_user
database.default.password=
database.default.DBDriver=MySQLi
database.default.port=3306

# Stripe API Keys
STRIPE_PUBLISHABLE_KEY=pk_live_51TwTUpELCt4kJ1B4z2MXG3lIr5Jhk1vtUC4uGPt0FSX6w4poubEmkFKHcsX71gcKNPlJAwVYUD45JUXZgNNtXiTT0045nmAYK7
STRIPE_SECRET_KEY=sk_live_...
STRIPE_WEBHOOK_SECRET=whsec_...
